.top-header
  .container
    .inner-wrap
      .inner-item
        i.fa-solid.fa-phone
        | #{settingWebsiteInfo.phone}
      .inner-item
        i.fa-solid.fa-envelope
        | #{settingWebsiteInfo.email}
      .inner-item
        i.fa-solid.fa-building
        | #{settingWebsiteInfo.address}