extends ../layouts/default.pug
include ../mixins/product.pug

block main
  .section-9
    .container
      .inner-wrap
        .inner-left
          include ../partials/box-filter.pug
        .inner-right
          .inner-info
            h2.inner-title #{pageTitle}
          .inner-info-2
            .inner-sort
              .inner-label Sắp xếp :
              button.inner-item
                | Giá tăng dần
                i.fa-solid.fa-square-caret-up
              button.inner-item
                | Giá giảm dần
                i.fa-solid.fa-square-caret-down
              button.inner-item.active
                | Khuyến Mại Hot
                i.fa-solid.fa-tag
              button.inner-item
                | Xem Nhiều
                i.fa-solid.fa-eye
            .inner-total-item
              | Tất cả: 
              b #{tourList.length} Tour
            button.inner-filter-mobile
              | Bộ Lọc
              i.fa-solid.fa-filter
          .inner-product-list
            if (tourList.length > 0)
              each item in tourList
                +product-item(item)
            else
              div Không tìm thấy bản ghi nào.
          // Pagination
          .box-pagination
            button
              i.fa-solid.fa-angles-left
            button.active 1
            button 2
            button 3
            button 4
            button
              i.fa-solid.fa-angles-right
          // End Pagination